html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'batman';
    src: url('fonts/batwhite.ttf');
}


/************ LANDING PAGE ****************/

body {
    margin: 0 auto;
    background-color: black;
}

/* Name */

#logo{
  position: relative;
  top: 10%;
}

#name{
  font-family: 'batman';
  display: block;
  top: 5%;
  font-size: 7.5em;
  text-align: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 6px 6px #000; 
}

#title{
  display: block;
  font-family: 'batman';
  font-size: 3.5em;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 3px #000, 0 0 5px #000 
}

#landing {
    background: url("images/gradientbg.jpg") no-repeat center;
    background-size: cover;
    width: 100% ;
    height: 100% ;
    position: fixed;
}


/* buttons*/
.button {
    border: 5%;
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 15%;
}

.employer {
    font-size: 2.5em;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
}

a {
  text-decoration: none;
}


.freelancer {
    font-size: 2.5em;
    background-color: transparent;
    color: white;
    border: border: 2px solid  white;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
}

.contact {
    display: flex;
    position: relative;
    justify-content: center;
    top: 15%;
    left: 10%;
    animation-name: bounce;
    transform-origin: center bottom;
}

.png,
.bounce {
    width: 30%;
}

footer {
    position: fixed;
    display: inline-block;
    color: white;
    top: 97%;
    left: 42%;
}



/*************** EMPLOYER/HIRE PAGE ************/

#refresh{
position: relative;
display: inline;
text-decoration: none;
color: white;
top: 25em;
left:40em;
font-size: 1.5em;
font-family: 'Montserrat Subrayada', sans-serif;
text-align: center;
}

#home{
position: relative;
display: inline;
text-decoration: none;
color: white;
top: 25em;
left: 2em;
font-size: 1.5em;
font-family: 'Montserrat Subrayada', sans-serif;
text-align: center; 
}

.job,
.hire {
    position: fixed;
    width: 100% ;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
    background-color: black;
}

.navContainer {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 6%;
    color: black;
}

.nav
{
    position: relative;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 2em;
}


/************ WEATHER APP ************/
.weather {
    border: 2px solid transparent;
    border-radius: 25px ;
    display: block;
    position: relative;
    width: 30vw;
    height: 15vh;
    top: 2%;
    margin: auto;
    background-color: rgba(0,0,0,.30);
    font-family: 'Roboto';
    text-align: center;
    color:white;
}
  
#loc{
  position: relative;
  font-size: 4em;
  color: white;
}

#weather{
  position: relative;
  right: 10%;
  font-size: 1.5em;
  color: white;
}

#temp{
  position: relative;
  left: 10%;
  font-size: 1.5em;
  color: white;
}

/*********** KEYFRAMES AND EFFECTS **********/

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}
/********* MODAL ********************/
.modal-container{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
}

.modal-active{
  font-family: 'Roboto';
  display:block;
  background:rgba(0,0,0,.30);
  text-align:center;
  vertical-align:middle;
  transform:scaleY(.01) scaleX(0);
  animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal {
 background:transparent;
 position: relative;
 text-align: center;
 display:inline;
 transform:scaleX(0);
 animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


li{
    list-style: none;
}
#front{
  position: relative;
  right: 20%;
}
#back{
  position: relative;
  left: 20%;
  bottom: 9em;
}
#skill{
  position: relative;
  top: 8em;

}

#projects{
 position: relative;
 top: 9em;
}

#resume{
  font-family: 'Roboto';
  color: white;
  font-stretch: 4em;
  position: relative;
  top: 8em;
}

#about_me{
  position: relative;
  top: 11em;
}

#contact{
  position: relative;
  top: 10em;
  width: 30%;
  margin: 0px auto;
  display: block;
}

input, textarea, button{
 display: block;
 width: 100%;
 margin: 5% 0;
 position: relative;
}

form{
    background-color: rgba(0,0,0,.30);
    border: 2px solid transparent;
    border-radius: 25px;
    width: 100%;
    padding: 2% 20%;
    display: block;
    box-sizing: border-box;
}

/*********** MEDIA QUERIES *************/

@media only screen and (device-width: 320px){

  #skill{
  position: relative;
  top: 10em;
  }
  #refresh{
  left: 23em;
  top: 55em;
  }
  #home{
  top: 55em; 
  }
  #skill{
    top: 15em;
  }
  #projects{
    top: 15em;
  }
  #resume{
  }
  #about_me{
    top: 15em;
  }

  #loc{
  font-size: 2.5em;
  color: white;
  top: 1em;
}

  #weather{
  font-size: 1.5em;
  top: 2em;
}

  #temp{
  left: 10%;
  font-size: 1.5em;
  top: 2em;
  }
}

@media only screen and (device-width: 375px) {

#refresh{
    left: 23em;
    top: 45em;
  }
  #home{
  top: 45em; 
  }
#loc{
  font-size: 2.5em;
  color: white;
  top: 1em;
}
#weather{
  font-size: 1.5em;
  top: 3em;
}

#temp{
  left: 10%;
  font-size: 1.5em;
  top: 3em;
  }

}

@media only screen and (device-width: 425px) {

#refresh{
    left: 23em;
    top: 40em;
  }
  #home{
  top: 40em; 
  }
#loc{
  font-size: 2.5em;
  color: white;
  top: 1em;
}
#weather{
  font-size: 1.5em;
  top: 3em;
}

#temp{
  left: 10%;
  font-size: 1.5em;
  top: 3em;
  }

}

@media only screen and (device-width : 768px) {

#name{
    font-size: 3em; 
}
#title{
  font-size: 2em;
}

.employer {
    font-size: 2em;
    width: 3.5em;
    height: 3.5em;
}
#b{
  font-size: .75em;
}

.freelancer {
    font-size: 2em;
    width: 3.5em;
    height: 3.5em;
}
#refresh{
    left: 56%;
    top: 20em;
  }
#home{
  top: 20em; 
  }
#skill{
  top: 15em;
  }
#projects{
    top: 15em;
  }
#resume{
  }
#about_me{
    top: 15em;
  }
#contact{
  }
  #loc{
  font-size: 2.5em;
  color: white;
}

}

@media only screen and (device-width : 1024px){

#refresh{
    left: 56%;
    top: 15em;
  }
#home{
  top: 15em; 
  }

}


