html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'batman';
    src: url('fonts/batwhite.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto.ttf');
}

/************ LANDING PAGE ****************/

body {
    margin: 0 auto;
    background-color: black;
}

/* Name */

#logo{
  position: relative;
  top: 10%;
}

#name{
  font-family: 'batman';
  display: block;
  top: 5%;
  font-size: 7.5em;
  text-align: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 6px 6px #000; 
}

#title{
  display: block;
  font-family: 'batman';
  font-size: 3.5em;
  text-align: center;
  color: #ffffff;
  text-shadow: 6px 6px #000; 
}

#landing {
    background: url("images/gradientbg.jpg") no-repeat center;
    background-size: cover;
    width: 100% ;
    height: 100% ;
    position: fixed;
}

.button {
    border: 5%;
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 15%;
}


/* buttons*/


.employer {
    font-size: 2.5em;
    color: white;
    background-color: transparent;
    border: solid thin white;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;

}

.freelancer {
    font-size: 2.5em;
    background-color: transparent;
    color: white;
    border: border: solid thin white;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;

}

.contact {
    display: flex;
    position: relative;
    justify-content: center;
    top: 23%;
    left: 10%;
    animation-name: bounce;
    transform-origin: center bottom;
}

.png,
.bounce {
    width: 30%;
}

footer {
    position: relative;
    display: inline-block;
    color: white;
    top: 54em;
    left: 44%;
}



/*************** EMPLOYER/HIRE PAGE ************/

#refresh{
position: relative;
display: block;
text-decoration: none;
color: white;
top: 3%;
font-size: 2em;
font-family: 'Montserrat Subrayada', sans-serif;
text-align: center; 
}

.job,
.hire {
    position: fixed;
    width: 100% ;
    height: 100%;
    min-width: 2000px;
    min-height: 000px;
    background-color: blue;
}

.navContainer {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 10%;
    color: black;
    animation-name: bounce;

}

.nav, .bounce
{
    position: relative;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 2em;
}


/************ WEATHER APP ************/
.weather {
    border: 2px solid transparent;
    border-radius: 25px ;
    display: block;
    position: relative;
    width: 30vw;
    height: 15vh;
    top: 2%;
    margin: auto;
    background-color: rgba(0,0,0,.30);
    font-family: 'roboto';
    font-size: 2.4em;
    text-align: center;
    color:white;
}
  
#loc{
  font-size: 1.5em;
  color: white;
}


/*********** KEYFRAMES AND EFFECTS **********/

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}
/********* MODAL ********************/
/*#modal-container{
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:1;

}*/

// .modal-background{
//     display: none; 
//     transform:scaleY(.01) scaleX(0);
//     animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//     animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
// }

// .modal-background.modal-active{
//  display:table-cell;
//  background:rgba(0,0,0,.30);
//  text-align:center;
//  vertical-align:middle;
//  transform:scaleY(.01) scaleX(0);
//  animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//  animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

}

.modal {
 font-family: 'roboto';
 background:transparent;
 padding:20px;
 text-align: center;
 display:inline-block;
 border-radius:25px 25px;
 position:relative;
}

.modal-background {
    display:table-cell;
    background:rgba(0,0,0,.30);
    text-align:center;
    vertical-align:middle;
}

.modal-active{
    overflow: hidden;
}

li{
    list-style: none;
}

.modal-container {
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:1;
  &.one {
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    .modal-background {
      .modal {
        transform:scale(0);
        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    &.out {
      transform:scale(1);
      animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal-background {
        .modal {
          animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }


