/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

body{
	background-color: lightblue;
}


/***** LOGIN PAGE *******/
.container{
	position: relative;
	top: 15em;
}

#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 45%;
	font-size: 3em;
}


#button{
	position: relative;
	left: 15%;
}

#link{
	position: relative;
	display: inline-block;
	padding: 1%;
	left: 16%;
	font-size: 1em;
	border: solid black;
}


/************ SIGN UP ***********/

#register{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 48%;
	font-size: 3em;
}


#new_email{
	position: relative;
	text-align: center;
	left: 17em;
}

#new_pass{
	position: relative;
	text-align: center;
	left: 17em;

}

#conf_pass{
	position: relative;
	text-align: center;
	left: 17em;
}

#save{
	position: relative;
	left: 45em;

}





























