<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../style.css" rel="stylesheet" />
    <script src="../jquery" type="text/jquery"></script>
    <script src='../index.js' type='javascript/text' /></script>
    <meta charset="UTF-8">
    <title>Hire me!</title>
</head>

<body>
    <div class='job'>
            <div class="navContainer">
                <div class="nav">skills</div>
                <div class="nav">projects</div>
                <div class="nav">contact</div>
                <div class="nav">About Me</div>
            <div class=" weather">weather app</div>
        </div>
</body>

</html>
