<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../style.css" rel="stylesheet" />
    <script src="../jquery" type="text/jquery"></script>
    <script src='../index.js' type='javascript/text' /></script>
    <meta charset="UTF-8">
    <title>Let me make your next project</title>
</head>
<body>
<div class='hire'>
    <div class="navContainer">
        <div class="nav">skills</div>
        <div class="nav">projects</div>
        <div class="nav">contact</div>
        <div class="nav">About Me</div>
    </div>
    <div class="weather">weather app</div>
</div>

</body>

</html>
