<!DOCTYPE html>
<html lang="en">

<head>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 

    <script src="../index.js" type="text/javascript"></script>
    <link href="../style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Let me make your next project</title>
</head>

<body>
    <div class='hire'>
        <div class="navContainer">
            <div class="nav">skills</div>
            <div class="nav">projects</div>
            <div class="nav">contact</div>
            <div class="nav">About Me</div>
        </div>
        <div class="weather">weather app</div>
    </div>
</body>

</html>
