<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../index.js" type="text/javascript"></script>
    <link href="../style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Anton Revich!</title>
    
</head>

<body>
    <div id='landing'>
        <div class=" weather">weather app</div>
        <div class="button">
            <a href="employer.html" />
            <button class="employer"> employer</button>
            </a>
            <a href="for_hire.html" />
            <button class="freelancer"> for hire </button>
            </a>
        </div>
        <div class='contact'>
            <a href='mailto:anton.revich@gmail.com' /><img class="png" src="../images/email.png" target="_blank" alt="email" /></a>
            <a href='https://github.com/antrev' /><img class="png" src="../images/github.png" target="_blank" alt="github" /></a>
            <a href='https://www.linkedin.com/in/anton-revich/' /><img class="png" src="../images/linkedin.png" target="_blank" alt="linkedin" /></a>
        </div>
    </div>
</body>

</html>