<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../style.css" rel="stylesheet" />
    <script src="../jquery" type="text/jquery"></script>
    <script src='../index.js' type='javascript/text' /></script>
    <meta charset="UTF-8">
    <title>Anton Revich!</title>
    
    <div id='landing'>
        <div class="button">
            <a href="employer.html" />
            <button class="employer"> employer</button>
            </a>
            <a href="for_hire.html" />
            <button class="freelancer"> for hire </button>
            </a>
        </div>
        <div class='contact'>
            <a href='#' />email</a>
            <a href='#' />github</a>
            <a href='#' />linkden</a>
        </div>
    </div>
</head>

<body>
</body>

</html>
